[Unit]
Description=Network Shared
After=network.target

[Service]
type=simple
ExecStart=/home/pacifi/permission.sh
Type=oneshot
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
